<div id="overlay">
	<div class="success-container">
        <div class="row pt-4 pb-3 pr-3">
            <div class="col-md-2" style="text-align: center;">
                <span class="material-icons icon-success"> check_circle_outline </span>
            </div>
            <div class="col-md-10">
                <p class="success-title">Salvataggio avvenuto correttamente</p>
                <p *ngIf="isCompletata" class="success-text">Non è più consentito apportate modifiche.</p>
                <p class="success-text">E' possibile scaricare un report del lavoro svolto nella pagina <b>Elenco progetti</b>.</p>
            </div>
        </div>
    </div>
</div>
