<nav class="navbar navbar-light px-0 py-0" style="background-color: #006CB4;">
  <div class="col-md-auto ml-5 d-flex style-tool-bar-two justify-content-start align-items-center">
    <img class="img-fluid" src="assets/img/logo-regione-piemonte.svg" width="145" height="88" alt="logo regione piemonte">
  </div>
  <div class="w-100 style-tool-bar d-flex justify-content-between align-items-center">
    <div class="col-md-auto ml-5">
      <div class="d-flex flex-column justify-content-around text-white">
        <p class="text-bold ">Sistemapiemonte</p>
        <p style="font-size: 10px; line-height: 1">Un servizio a cura della Regione Piemonte</p>
        <p style="font-size: 10px; line-height: 1">P.Iva-CF 80087670016</p>
      </div>
    </div>
    <div>
      <img class="img-fluid mr-3" src="assets/img/logo-csi.svg" width="145" height="88" alt="logo csi piemonte">
    </div>
  </div>

</nav>
